<section class="content">
  <div class="row" >
    <div class="col-sm-12">
        <h1 class="error-code" [class.text-black]="!critical" [class.text-red]="critical">
          <i class="fa fa-warning" [class.text-black]="!critical" [class.text-red]="critical"></i>
          {{errorCode}}
        </h1>
        <h2 class="error-title"  [class.text-black]="!critical" [class.text-red]="critical">{{title}}</h2>
    </div> 
  </div> 
  <div class="row">
    <div class="col-sm-12">
        <h3 class="error-message">{{message}}</h3>
    </div> 
  </div>  
</section>