<!-- <toaster-container [toasterconfig]="toasterconfig"></toaster-container> -->

<div class="container">
    <div class="row">
        <h3>Pedidos</h3>
    </div>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input [formControl]="searchForm.get('CreateAt')" class="form-control mr-sm-2" type="search"
                placeholder="Data de criação" aria-label="Search">
            <input [formControl]="searchForm.get('Client')" class="form-control mr-sm-2" type="search"
                placeholder="Nome do Cliente" aria-label="Search">
            <select [formControl]="searchForm.get('Status')"  class="form-control moreSpacingRight">
                <option value="">Selecione Status</option>
                <option value="6">Processando</option>
                <option value="5">Pendente</option>
                <option value="10">Entregue</option>
                <option value="4">Completo</option>
                <option value="9">Cancelado</option>
            </select>
            <button class="btn btn-outline-info my-2 my-sm-0" type="button" (click)="getList()">Pesquisar</button>
            <button class="btn btn-outline-danger my-2 my-sm-1 moreSpacingLeft" type="button"
                (click)="resetForm()">Limpar</button>
        </form>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Clientes</th>
                        <th scope="col">Qtd. Produtos</th>
                        <th scope="col">Status</th>
                        <th scope="col">Data de Criação</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orderList; let i = index">
                        <td>{{item.client}}</td>
                        <td>{{item.products.length}}</td>
                        <td>{{getStatus(item.status)}}</td>
                        <td>{{item.createAt | date: 'dd/MM/yyyy'}}</td>
                        <td><a class="btn btn-sm btn-outline-info" (click)="edit(item.code)"> Editar</a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>